
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniForum</title>
    <link rel="stylesheet" href="~/css/MainPage/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <div class="nav-container">
            <div class="logo">
                <i class="fa-solid fa-graduation-cap"></i> UniForum
            </div>

            <nav class="nav-links">
                <a href="/Main/Index" class="active">Ana Sayfa</a>
                <a href="/Main/UnivercityList">Üniversiteler</a>
                <a href="">Forumlar</a>
            </nav>

            <a href="/Main/Profile" class="user-profile">
                <div class="avatar-circle">KY</div>
            </a>
        </div>
    </header>

    <div class="main-container">

        <aside class="sidebar-left sticky-sidebar">
            <div class="card search-card">
                <h3>Ara</h3>
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Konu, başlık veya etiket ara...">
                </div>
            </div>
        </aside>

        @await Component.InvokeAsync("Content")
        

        <aside class="sidebar-right sticky-sidebar">
			@await Component.InvokeAsync("Filter")
            

            <a href="/Main/AddContent" class="add-content-btn">
                <i class="fa-solid fa-plus"></i> İçerik Ekle
            </a>

        </aside>

    </div>

    <script src="~/js/MainPage/"></script>
</body>
</html>
